body {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

#header {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header_sections {
    font-size: 20px;
    min-width: 150px;
    text-align: center;
    padding: 25px;
    border: 1px solid black;
}

#header_title {
    flex-grow: 1;
    text-align: left;
}

#body {
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    font-size: 20px;
    height: 100px;
    padding-top: 400px;
    width: 100%;
    border: 1px solid black;
}

#profile_container {
    display: flex;
    flex-direction: row;
    align-content: center stretch;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 500px;
    background-color: #fffbf0;
}

#feature_picture_container {
    width: 40%;
    display: flex;
    align-content: center;
    justify-items: center;
    border-radius: 25px;
    background-color: #1c448e;
}

#feature_picture {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: auto;
}

#profile_information {
    height: 90%;
    font-size: 20px;
    border-collapse: collapse;
    align-content: center;
    width: 100%;
    font-size: 20px;
    margin: auto;
    color: white;
    font-weight: 600;
} 

#profile_information_container {
    border-radius: 25px;
    margin: auto;
    align-content: center;
    height: 60%;
    flex-grow: 1;
    margin-left: 10%;
    padding: 5%;
    background-color: #1c448e;
}

.information_cell_value {
    width: 65%;
    border-left: 3px solid white;
    padding-left: 5%;
    /* background-color: rgba(211, 211, 211, 0.666); */
}

.information_cell_label {
    width: 35%;
    /* background-color: rgba(211, 211, 211, 0.666); */
    padding-left: 1%;
}

.section_container_horizontal {
    display: flex;
    flex-direction: row;
    align-content: center stretch;
}

.section_container_vertical {
    display: flex;
    flex-direction: column;
}

.section_title_horizontal {
    flex-grow: 1;
    min-width: 40%;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
    height: 100%;
    background-color: #1c448e;
}

.section_content_horizontal {
    width: 60%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 10%;
    height: 100%;
}

#autobiography {
    height: 500px;
    align-content: center stretch;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: #1c448e;
}

#autobiography_content {
    background-color: #a1e8ff;
}

#education {
    height: 500px;
    background-color: #fffbf0;
}

#education_information {
    border-collapse: collapse;
    /* border: 1px solid black; */
    font-size: 25px;
}

.education_cell_label {
    width: 2%;
    height: 100px;
    border-right: 3px solid #1c448e;
    text-align: right;
    padding-right: 5%;
    font-weight: bolder;
}

.education_cell_value {
    padding-left: 3%;
    width: 10%;
    height: 100px
}